<!DOCTYPE html>
{%- if town == 'Москва' %}
<html style="
width: 100%;
background-image: url(https://img3.akspic.ru/originals/6/4/8/0/90846-moskva-gorodskoj_pejzazh-gorod-liniya_gorizonta-stolica-1920x1080.jpg)"> {% endif %}
{%- if town == 'Прага' %}
<html style="
width: 100%;
background-image: url(https://images7.alphacoders.com/487/thumb-1920-487159.jpg)"> {% endif %}
{%- if town == 'Лондон' %}
<html style="
width: 100%;
background-image: url(https://img3.goodfon.ru/wallpaper/nbig/4/c9/london-ulica-vecher.jpg)"> {% endif %}
{%- if town == 'Канберра' %}
<html style="
width: 100%;
background-image: url(https://wallpapershome.ru/images/wallpapers/operniy-teatr-1920x1080-sidney-avstraliya-turizm-puteshestvie-5050.jpg)"> {% endif %}
{%- if town == 'Стокгольм' %}
<html style="
width: 100%;
background-image: url(https://s1.1zoom.me/b5254/985/Coast_Evening_Houses_Sweden_Stockholm_Tower_516710_1920x1080.jpg)"> {% endif %}
    <head>
        <meta charset="UTF-8">
        <title>Погода: {{ town }}</title>
    </head>
    <body style="font-size: 28px">
        <h1 style="text-align: center; color: white; text-shadow: 0px 0px 10px black;">Погода в городе {{ town }}</h1>
        <div style="display: flex; justify-content: center">
           <table style="background: #0000004f; border: solid 2px white; border-radius: 10px; text-align: center; text-shadow: 0px 0px 7px black; color: white; padding: 5px">
                <tr>
                    {% for header in headers -%}
                    <th style="border: solid 2px white; border-radius: 10px">{{ header }}</th>
                    {% endfor -%}
                </tr>
                {% for row in rows -%}
                <tr>
                    {% for data in row -%}
                    <td style="border: solid 2px white; border-radius: 10px">{{ data }}</td>
                    {% endfor -%}
                </tr>
                {% endfor -%}
            </table>
        </div>
    </body>
</html>